body {
  background: #222;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  padding: 2rem 1rem;
}

button {
  background: #09f;
  color:#fff;
  border: 0;
  padding: 4px 8px;
  font-size: 18px;
  cursor: pointer;
}