.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 800px;
}

header {
  padding: 1.5rem 0.50rem;
}
main {
  display: flex;
  justify-content: center;
  width: 100%;
}

form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
}

.error {
  color: red;
}
