.filters {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 6px;
  font-size: 14px;
  font-weight: 700;
}

.filters > div {
  display: flex;
  align-items: center;
  gap: 1rem;
}
